@page "/welcome"

<PageTile>Welcome dotnet 2</PageTile>
<h1>Welcome to class cdotnet 2</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias facilis quibusdam pariatur. Blanditiis
    adipisci tempore esse exercitationem expedita ut dolorem a. Distinctio quis amet ut in ab porro numquam.</p>
