@page "/education"
<div class="container h-100 d-flex flex-column align-items-start justify-content-center">

    <h1 class=" fw-bold display-5" style="margin-bottom: 50px; margin-top: 70px;">Education</h1>

    <!-- Education Row using Bootstrap grid -->
    <div class="row w-100 mb-5">
        <!-- Left content with 7/12 width -->
        <div class="col-7">
            <h2 class="fw-bolder text-uppercase" style="font-size: 25px;">University of Colorado Boulder</h2>
            <p class="" style="color: #6C757D; font-size: 25px;">Bachelor of Science</p>
            <p style="color: #6C757D; font-weight: 200;">Computer Science - Web Development Track
                <br>
                GPA: 3.23
            </p>
        </div>
        <!-- Right content with 5/12 width -->
        <div class="col-5 text-end">
            <p class="text-danger">August 2006 - May 2010</p>
        </div>
    </div>

    <!-- Experience Row -->
    <div class="row w-100 ">
        <!-- Left content -->
        <div class="col-7">
            <h2 class="fw-bold">James Buchanan High School</h2>
            <p class="" style="color: #6C757D; font-size: 25px;">Technology Magnet Program</p>
            <p style="color: #6C757D; font-weight: 200;">GPA: 3.56</p>
        </div>
        <!-- Right content -->
        <div class="col-5 text-end">
            <p class="text-danger">August 2002 - May 2006</p>
        </div>
    </div>

</div>