@page "/skill"
<div class="container d-flex flex-column align-items-start justify-content-center vh-100">
    <h1 class="text-uppercase display-2 fw-bold" style="margin-bottom: 50px;"> skills</h1>
    <h3 class="text-uppercase text-secondary"> Programming Languages & Tools</h3>
    @* icon *@
    <div class="gap-3 d-flex mt-5">
        <i class="fab fa-html5 text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-css3-alt  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-js-square  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-angular  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-react  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-node-js  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-sass  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-less  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-wordpress  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-gulp  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-grunt  text-secondary" style="font-size: 50px;"></i>
        <i class="fab fa-npm  text-secondary" style="font-size: 50px;"></i>
    </div>
    @* work flow *@
    <div class="mt-4">
        <h3 class="text-uppercase text-secondary mb-10" style="font-size: 25px;">Work flow</h3>
        <ul class="list-unstyled" style="margin-left: 20px;">
            <li class="text-secondary">
                <i class="fa fa-check text-success " style="margin-right: 10px; color: gray; "></i>Mobile-First,
                Responsive Design
            </li>
            <li class="text-secondary"><i class="fa fa-check text-success "
                    style="color: grey; margin-right: 10px;"></i>Cross
                Browser Testing & Debugging</li>
            <li class="text-secondary"><i class="fa fa-check text-success " style="margin-right: 10px;"></i>Cross
                Functional Teams</li>
            <li class="text-secondary"><i class="fa fa-check text-success " style="margin-right: 10px;"></i>Agile
                Development & Scrum</li>

        </ul>
    </div>
</div>